<div class="container">
    <div class="background">
      <img src="https://imgs.search.brave.com/F8Z5StMMtIfjGXEct4k8UgqgASfglV67cgCzOGSFHto/rs:fit:1200:1200:1/g:ce/aHR0cHM6Ly9jb250/ZW50LnByZXNzcGFn/ZS5jb20vdXBsb2Fk/cy8yNDMxLzE5MjBf/VGhlLUVtaXJhdGVz/LUEzODAtODE2MjY1/LmpwZz8xMDAwMA" alt="" />
    </div>

    <div class="overlay">
      <h1>Direct Flights to your Destination</h1>
      <p>We offer the best customer services till you arrive to your destination!!</p>
      <marquee behavior="" direction="right">
        <h1>Youngshark Airport</h1>
      </marquee>

      <h1>
      
        <button>
          Book Now
        </button>
      </h1>
    </div>

    

</div>

<button (click)="Add()">+2</button>
  <p>{{count}}</p>
<button (click)="Minus()">-3</button>